.header-name{
    display: flex;
    justify-content: center;
    background: white;
}

.header-name-text{
    font-size: 400%;
    margin: 1% auto;
}

.header-button{
    display: flex;
    justify-content: left;
    background: white;
}

.header-button-text{
    font-size:100%;
    padding: 1%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: solid;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0.1%;
}

.header-button-text:hover{
    cursor: grab;
    background: grey;
}